.ScrollTop {
  padding-bottom: 68px; }

.top-button {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: #333333;
  border-width: 1px; }
  .top-button p {
    margin: 4px 0 0 0;
    font-size: 11px;
    font-weight: 700;
    color: #333333; }

#up {
  width: 14px; }
