//COLORS
$black: #000000;
$white: #ffffff;
$red: #531B25;
$accent: #CDA066;
$light-gray: #d9d9d9;

//FONT SIZE
$font-size-title: 36px;
$font-size-subtitle: 20px;
$font-size-label: 14px;
$font-size-body: 15px;

//BUTTONS
$button-text-size: 18px;
$button-height: 48px;

//APP
$app-padding: 16px;
$app-max-width: 630px;
$line-height: 48px;
$section-padding: 38px;
$menu-width: 80%;
$navbar-height: 56px;

//BREAK-POINT
$break-point: 460px;
