//COLORS
$black: #000;
$white: #fff;
$red: #ff0000;

//FONT SIZE
$font-size-title: 38px;
$font-size-subtitle: 20px;
$font-size-label: 18px;
$font-size-body: 18px;

//BUTTONS
$button-text-size: 18px;
$button-height: 48px;

//APP
$app-padding: 16px;
$app-max-width: 630px;
$line-height: 48px;
