//COLORS
$black: #000000;
$white: #ffffff;
$red: #531B25;
$accent: #CDA066;

//FONT SIZE
$font-size-title: 36px;
$font-size-subtitle: 18px;
$font-size-label: 16px;
$font-size-body: 16px;

//BUTTONS
$button-text-size: 18px;
$button-height: 48px;

//APP
$app-padding: 16px;
$app-max-width: 630px;
$line-height: 48px;
$section-padding: 64px;
