@import "../../../util/theme";

.SectionHeader {
  width: 100%;
  color: $white;
  height: 300px;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: $font-size-title;
}
