@import "../../../util/theme";

.SectionHeader {
  width: 100%;
  color: $white;
  height: 100vh;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    letter-spacing: 5px;
  }
}
