@import "../../../util/theme.scss";

.ScrollTop {
  padding-bottom: $section-padding;
}

.top-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-color: $black;
  border-width: 1px;
  p {
    margin: 0;
  }
}

#up {
  width: 20px;
}

#top {
  font-size: 14px;
}
