@import '../../../util/theme.scss';

.Menu {
  height: 100%;
  width: $menu-width;
  left: -$menu-width;
  position: absolute;
  background-color: $white;
  border-right: 1px solid $gray;
  box-sizing: border-box;
  h1:hover {
    opacity: 0.7;
  }
  img:hover {
    cursor: pointer;
  }
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.show-menu {
  left: 0;
}

.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  h4 {
    margin: $app-padding*1.5 0;
  }
}

.menu-item {
  display: flex;
  align-items: center;
}

.divider {
  background-color: $gray;
  height: 1px;
}

#close-icon {
  padding: 2px;
  width: 20px;
  height: 20px;
}
