@import '../util/theme.scss';

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  a:visited {
    color: $red;
  }
  a:link {
    color: $red;
  }
  p, h1, h2, h3, h4, label {
    font-family: 'Open Sans', sans-serif;
    line-height: 140%;
    letter-spacing: 1px;
  }
  h2, h3 {
    font-weight: 400;
  }
  button:hover {
    cursor: pointer;
  }
}

.disable-scroll {
  overflow: hidden;
}

.app-content {
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.slide-content {
  left: $menu-width;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.accent {
  color: $accent;
}

.cursive {
  font-family: 'Parisienne', cursive;
}

.icon {
  margin: $app-padding;
}

.Menu, .navbar, #mobile-menu {
  a {
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:link {
    color: $black;
  }
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.inactive {
  p:hover {
    opacity: 0.5;
  }
  opacity: 0.5;
}

.active {
  p, h4 {
    color: $black;
  }
}

.title {
  font-size: $font-size-title;
  font-weight: 300;
  margin: 36px 0;
}

.subtitle {
  font-size: $font-size-subtitle;
  margin: 0;
}

.section {
  padding: $app-padding 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: $app-max-width;
  padding: $section-padding $app-padding;
}

.button {
  background-color: $white;
}

.black-button {
  height: $button-height;
  width: 132px;
  font-size: $button-text-size;
  background-color: $white;
  color: $black;
  border-color: $black;
  margin: 32px 0 16px 0;
}

.black-button:hover {
  background-color: $black;
  color: $white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: $break-point) {
  .content {
    min-height: 75vh;
    h2 {
      font-size: 30px;
    }
  }
  .title {
    font-size: 76px;
    letter-spacing: 10px;
    word-spacing: 20px;
  }
  .subtitle {
    font-size: 28px;
  }
}
