@import '../util/theme.scss';

$input-margin-top: 6px;
$input-padding: 4px;
$input-height: 42px;

label{
  font-size: $font-size-label;
}

input, textarea {
  box-sizing: border-box;
}

.Rsvp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: $app-max-width;
  padding: $app-padding 0;
  text-align: left;
}

.form-item {
  width: 100%;
  padding: 18px 0;
}

.form-box {
  background-color: #FAFAFA;
  border-style: solid;
  border-color: #cccccc;
  border-width: thin;
}

.error-box {
  @extend .form-box;
  border-color: red;
}

.errorMessage {
  font-size: $font-size-label;
  color: red;
  margin: 4px 0;
}

.input {
  width: 100%;
  height: $input-height;
  margin-top: $input-margin-top;
  padding: $input-padding;
  font-size: $font-size-label;
}

.name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-field {
  width: 49%;
}

.name {
  width: 100%;
  height: $input-height;
  margin-top: $input-margin-top;
  padding: $input-padding;
  font-size: $font-size-label;
}

.radio label {
  margin-right: 12px;
}

.text-area {
  height: 100px;
  width: 100%;
  margin-top: $input-margin-top;
  padding: $input-padding;
  font-size: $font-size-label;
}

.button-container {
  display: flex;
  justify-content: center;
}

#formSection {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin: 0;
  }
}
