.Travel {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-subtitle {
  margin: 0 0 16px 0; }

.accommodations {
  font-size: 18px;
  margin: 0 16px; }

.lodging p {
  margin: 3px; }
  .lodging p a {
    text-decoration: none; }
  .lodging p a:link {
    color: #000000; }
  .lodging p a:visited {
    color: #000000; }

.address-icon {
  width: 16px;
  margin: 0 6px 0 0; }

.activities-content {
  padding: 68px 16px; }
  .activities-content h3 {
    margin: 0 0 16px 0; }

.activities {
  max-width: 1150px; }

.activities-column {
  padding: 16px; }

#car {
  width: 54px;
  height: 54px;
  margin: 14px; }

#plane {
  width: 42px;
  height: 42px;
  margin: 20px; }

#nita {
  text-decoration: none;
  font-weight: 600; }

#options {
  margin-bottom: 32px; }

#activities-subtitle {
  max-width: 630px; }

@media only screen and (min-width: 760px) {
  .directions-container {
    display: flex; }
  .directions-section {
    width: 50%;
    margin: 10px; }
  .section-subtitle {
    margin: 18px 0; }
  .activities {
    display: flex;
    justify-content: space-between; }
  .activities-column {
    width: 33%; } }
