@import '../util/theme.scss';

.Travel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-subtitle {
  margin: 0 0 $app-padding 0;
}
.accommodations {
  font-size: 18px;
  margin: 0 $app-padding;
}
.lodging p {
  margin: 3px;
  a {
    text-decoration: none;
  }
  a:link {
    color: $black;
  }
  a:visited {
    color: $black;
  }
}
.address-icon {
  width: 16px;
  margin: 0 6px 0 0;
}
.activities-content {
  padding: $section-padding $app-padding;
  h3 {
    margin: 0 0 $app-padding 0;
  }
}
.activities {
  max-width: 1150px;
}
.activities-column {
  padding: $app-padding;
}
#car {
  width: 54px;
  height: 54px;
  margin: 14px;
}
#plane {
  width: 42px;
  height: 42px;
  margin: 20px;
}
#nita {
  text-decoration: none;
  font-weight: 600;
}
#options {
  margin-bottom: $app-padding * 2;
}
#activities-subtitle {
  max-width: $app-max-width;
}

@media only screen and (min-width: 760px) {
  .directions-container {
    display: flex;
  }
  .directions-section {
    width: 50%;
    margin: 10px;
  }
  .section-subtitle {
    margin: 0 0 18px 0;
  }
  .activities {
    display: flex;
    justify-content: space-between;
  }
  .activities-column {
    width: 33%;
  }
}
