@import "../../../util/theme";

p {
  font-size: $font-size-body;
  margin: 8px 0;
}

.Details {
  padding: 32px;
}

.img {
  border-radius: 50%;
  width: 100%;
  max-width: 580px;
}

.time {
  margin: 18px 0 24px;
  h3 {
    margin: 0;
  }
}

.map-button {
  border-color: black;
  padding: 16px;
  margin: 32px 0 16px 0;
  a {
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:link {
    color: $black;
  }
}
