@import "../../../util/theme";

p {
  font-size: $font-size-body;
}

.Details {
  padding: 32px;
}

.img {
  border-radius: 50%;
  width: 100%;
  max-width: 580px;
}

.text {
  margin: 16px 0;
}

.time {
  margin: 18px 0 24px;
  h3 {
    margin: 0;
  }
}

.address p {
  margin: 8px 0;
}
