@import '../util/theme';

.App {
  text-align: center;
  a:visited {
    color: $red;
  }
  a:link {
    color: $red;
  }
  p, h1, h2, h3, h4, li, label {
    font-family: 'Montserrat', sans-serif;
  }
}

.accent {
  color: $accent;
}

.cursive {
  font-family: 'Parisienne', cursive;
}

.menu-div {
  height: 100vh;
  width: 100%;
}

.icon-container {
  text-align: left;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 8px 0;
}

.navbar {
  display: none;
  justify-content: space-between;
  margin: 0 16px;
  p {
    font-size: 20px;
  }
}

.navbar-items {
  display: flex;
  a {
    margin-left: 32px;
  }
}

.menu-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    line-height: $line-height;
  }
}

.menu-div, .navbar, #mobile-menu {
  a {
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:link {
    color: $black;
  }
}

.title {
  font-size: $font-size-title;
  margin: 36px 0;
}

.subtitle {
  font-size: $font-size-subtitle;
  margin: 0;
}

.section {
  max-width: $app-max-width;
  padding: $app-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sheenatrong {
  width: 100%;
  height: $line-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  #mobile-menu {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .section {
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 28px;
    }
  }
  .SectionHeader {
    height: 660px;
  }
  .header-title {
    font-size: 102px;
  }
  .header-subtitle {
    font-size: 24px;
  }
  .directions-subtitle {
    font-size: 22px;
  }
  .title {
    font-size: 68px;
  }
  .subtitle {
    font-size: 24px;
  }
}
