@import '../util/theme';

.App {
  text-align: center;
  a:visited {
    color: $red;
  }
  a:link {
    color: $red;
  }
  p, h1, h2, h3, h4, li, label {
    font-family: 'Montserrat', sans-serif;
  }
}

.accent {
  color: $accent;
}

.cursive {
  font-family: 'Parisienne', cursive;
}

.icon-container {
  text-align: left;
  position: absolute;
  z-index: 1;
}

.icon {
  margin: 8px 0;
}

.Menu, .navbar, #mobile-menu {
  a {
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:link {
    color: $black;
  }
}

.title {
  font-size: $font-size-title;
  margin: 36px 0;
}

.subtitle {
  font-size: $font-size-subtitle;
  margin: 0;
}

.section {
  max-width: $app-max-width;
  padding: $app-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  #mobile-menu {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .section {
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 28px;
    }
  }
  .SectionHeader {
    height: 660px;
  }
  .header-title {
    font-size: 102px;
  }
  .header-subtitle {
    font-size: 24px;
  }
  .directions-subtitle {
    font-size: 22px;
  }
  .title {
    font-size: 68px;
  }
  .subtitle {
    font-size: 24px;
  }
}
