@import '../util/theme';

.Travel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-icons {
  margin: 20px;
}

.lodging p {
  margin: 8px;
}

#car {
  width: 58px;
}

#plane {
  width: 48px;
}

#nita {
  text-decoration: none;
}

#map {
  width: 100%;
  margin: $app-padding 0;
}

#options {
  margin-bottom: $app-padding * 2;
}
