@import '../util/theme';

ul {
  width: 100%;
  text-align: left;
  padding-left: 18px;
  font-size: $font-size-body;
}

h4 {
  margin: 0;
}

.Travel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: $app-max-width;
}

.directions-subtitle {
  font-weight: 700;
}

.lodging p {
  margin: 8px;
}

#map {
  width: 100%;
  margin-top: $app-padding;
}

#options {
  margin-bottom: $app-padding * 2;
}
