@import "../../../util/theme";

.Header {
  height: 90vh;
  background-image: url("../../../img/path.jpg");
  background-size: cover;
  background-position: 50% 65%;
  color: $white;
  position: relative;
}

.header-div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  a:visited {
    color: $black;
  }

  a:link {
    color: $black;
  }
}

.header-title {
  font-size: $font-size-title;
}

.rsvp-button {
  border-radius: 32px;
  border-style: none;
  margin: 56px 0;
  padding: 14px 42px;
}

.button:hover {
  background-color: rgba(255,255,255,0.6);
}

@media only screen and (min-width: 760px) {
  .header-title {
    font-size: 70px;
  }
}
