@import "../../../util/theme";

.Header {
  height: 100vh;
  background-image: url("../../../img/path.jpg");
  background-size: cover;
  background-position: 50% 65%;
  color: $white;
  position: relative;
}

.header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:link {
    color: $black;
  }
}

.title-container {
  margin: $navbar-height+$app-padding*2 0;
}

.header-title {
  font-size: 80px;
  line-height: 72px;
}

.rsvp-button {
  border-radius: 32px;
  border-style: none;
  margin: 56px 0;
  padding: 14px 42px;
}

.button:hover {
  background-color: rgba(255,255,255,0.6);
}

@media only screen and (min-width: $break-point) {
  .header-title {
    font-size: 120px;
    line-height: 100px;
    letter-spacing: 5px;
  }
}
