@import '../../../util/theme';

.Nav {
  width: 100%;
  height: $navbar-height;
  position: absolute;
  z-index: 1;
  background-color: $white;
  p {
    font-size: 16px;
  }
  img:hover {
    cursor: pointer;
  }
}

.navbar {
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.navbar-items {
  display: flex;
  a {
    margin-left: 32px;
  }
}

.audio-icon {
  width: 24px;
}

#mobile-menu {
  display: flex;
  justify-content: space-between;
}

#sheenatrong {
  width: 100%;
  height: $line-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio {
  width: 24px;
  display: flex;
  align-items: center;
}
