@import '../../../util/theme';

.Nav {
  p:hover {
    opacity: 0.7;
  }
  img:hover {
    cursor: pointer;
  }
}

.navbar {
  display: none;
  justify-content: space-between;
  margin: 0 16px;
  p {
    font-size: 20px;
  }
}

.navbar-items {
  display: flex;
  a {
    margin-left: 32px;
  }
}

.active {
  color: $accent;
}

#sheenatrong {
  width: 100%;
  height: $line-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
